<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 20px;">
        </div>
        <div class="modal-footer">
            <button type="button" onclick="CloseModal()" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>